PORT=3000
NODE_ENV=development

DB_DIALECT=postgres
DATABASE_URL=postgresql://postgres:JHtsty5C9ALg5Ng3@db.nzedssimybwqikbgwqyg.supabase.co:5432/postgres
DB_SYNC=false
DB_SSL=true

JWT_SECRET=change-me
REDIS_URL=redis://red-d91uejmq1p3s73cj5hdg:6379
REDIS_HOST=red-d91uejmq1p3s73cj5hdg
REDIS_PORT=6379
QUEUE_ENABLED=true
